.header {
    background: var(--gray-700);
    height: 150px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 3rem 0;
}

.header img {
    height: 2.2rem;
}