.tasks {
    width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    /* max-width: 46rem; */
    /* padding: 0 1rem; */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.header div {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.header p {
    color: var(--blue);
    font-size: 0.875rem;
    font-weight: 700;
}

.header span {
    background: var(--gray-400);
    color: var(--gray-200);
    padding: 2px 8px;
    border-radius: 999px;
    font-size: 0.75rem;
    font-weight: 700;
}

.textPurple {
    color: var(--purple) !important;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.empty {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    color: var(--gray-300);
    text-align: center;
}

.empty p {
    font-weight: 700;
}